body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.signup{
  margin-left: 80px;
  margin-top: 20px;
  align-items: center;
  justify-content: center; 
  border: 3px solid whitesmoke; 
  border-radius: 10px;
  margin-right: 700px;
}

.login{
  margin-left: 80px;
  margin-top: 20px;
  align-items: center;
  justify-content: center; 
  margin-right: 700px;

}


.border{
   border: 3px solid whitesmoke; 
   border-radius: 10px;
  
}