body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-items{
  display: flex;
  flex-direction: row;
  background-color:black;
}
.header{
  margin-left: 50px;
}


.nav li{
  list-style-type: none;
  display: inline-block;
  text-align: right; 
  padding: 10px; 
  margin-left: 100px;

  
}

.signup{
   margin-left: 35%;
   margin-right:25%;
   width: 30%;
   margin-top: 5%; 
   align-items: center; 
   justify-content: center;  
  align-items: center;
  border: 3px solid whitesmoke; 
  border-radius: 10px;
  
}


.login{
 
  margin-left: 35%;
  margin-right:25%;
  width: 30%;
   margin-top: 5%; 
   align-items: center; 
   justify-content: center;  
 
  

} 


.border{
   border: 3px solid whitesmoke; 
   border-radius: 10px;
  
}
 table, th{
  border: 1px solid;
}

.half{
  width: 50%;
}

table {
  width: 100%;
  text-align: left;
}
.full{
  text-align: center;
}
.btns{
  display: block;
    padding: 5px; 
    margin: 20px;
    background-color: green;
    color: white;
}
.txt{
  color: green;
 
}
.tw{
  color: green;
  text-align: center;
 
  padding: 10px;
}
.th{
  color: green; 
 
}
.bs{
  background-color: green;
  color: white;
}

.bl{
  background-color: white;
  color: black;
  
}
/* .login-form-forgot{
  color: red;
}
.login-form-button{
background-color: red;
} */